.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: inherit;
  padding: 0.8rem 0.5rem;
  border: 1px solid cornflowerblue;
  .task__details {
    display: flex;
    width: 75%;
    height: 2rem;
    padding: 0.5rem 0rem;
    align-items: center;
    justify-content: space-between;
    span.name {
      width: 65%;
      line-height: 1.6rem;
    }
  }
  .task__button {
    background-color: #ff8f00;
    border: 1px solid #ff8f00;
  }
}