<div class="app__container">
  <header
    [user]="authService.currentUser">
  </header>
  <div class="app__name">
    <h1>
      {{ title }}!
    </h1>
  </div>
  <div class="app__body">
    <import-events-button
      [user]="authService.currentUser">
    </import-events-button>
    <ul class="tasks">
      <task 
        *ngFor="let task of taskService.tasks"
        [task]="task"
        (startedTask)="onStartTask($event)">
      </task>
    </ul>
    <timer [currentTask]="startedTask">
    </timer>
  </div>
</div>

<router-outlet></router-outlet>
