.app__container {
  height: 100%;
  width: inherit;
  margin: 1rem 1.8rem;
}

.app__name {
  text-align: center;
  margin: 2rem 0rem 3rem;
}

.app__body {
  text-align: center;
  width: 100%;
}

.tasks {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
